.clip-group {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.clip-group.is-trimming,
.clip-group.is-trimming * {
  cursor: ew-resize !important;
}

.clip-group.is-moving,
.clip-group.is-moving * {
  cursor: grabbing !important;
}