.timeline-cursor {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 1px;

  background: color-mix(
    in srgb,
    var(--color-text-muted) 20%,
    transparent
  );

  pointer-events: none;
  z-index: 30;
}
