.timeline-playhead {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 1px;

  z-index: 30;

  pointer-events: none;
}

.timeline-playhead::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 1px;

  background: #D75455;

  pointer-events: none;
}

.timeline-playhead-handle {
  position: absolute;
  top: 0;
  left: 0;

  width: 11px;
  height: 32px;

  transform: translateX(-5px);

  cursor: ew-resize;

  pointer-events: auto;
  touch-action: none;
}