.track-list {
  --track-height: 100px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  position: relative;
}

.track {
  position: relative;
  height: var(--track-height, 100px);
  padding: 0;
  border: 0;
  border-radius: 4px;

  background: var(--color-surface-raised);
}

.track.is-selected {
  box-shadow: 0 1px 4px -2px var(--color-primary);
}
