.track-header-list {
    --track-header-height: 100px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  position: relative;
}

.track-header {
  position: relative;
  height: var(--track-header-height, 100px);
  padding: 4px 8px;
  border: 0;
  border-radius: 4px;
  background: var(--color-surface-raised);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.track-header.is-selected {
  box-shadow: 0 1px 4px -2px var(--color-primary);
}
