.track-header-list {
  --track-header-height: 100px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 0 !important;
}

.track-header {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  height: var(--track-header-height, 100px);

  padding: 8px;

  border: 0;
  border-radius: var(--border-radius-md);

  background: var(--color-surface-raised);
}

.track-header.is-selected {
  box-shadow: 0 1px 4px -2px var(--color-primary);
}