.page-header {
  user-select: none;
}

.page-title {
  font-weight: 500;
  color: var(--color-primary-text);
}

.timeline-header {
  flex: 1;

  position: relative;
  overflow: hidden;

  min-width: 0;
  min-height: 0;

  padding: 0 !important;
  margin: 0 !important;

  cursor: default;
}

.timeline-header-content {
  position: relative;

  min-width: 100%;
  min-height: 100%;

  padding: 0 !important;
  margin: 0 !important;
}

.timeline {
  flex: 1;

  position: relative;
  overflow: auto;

  min-width: 0;
  min-height: 0;

  padding: 0 !important;
  margin: 0 !important;

  cursor: default;
}

.timeline-content {
  position: relative;

  min-width: 100%;
  min-height: 100%;

  padding: 0 !important;
  margin: 0 !important;
}

.pointer-info {
  position: sticky;
  height: 24px;
  top: 0;
  overflow: clip;
  z-index: 20;
  background: var(--color-surface);
  border-bottom: 1px solid var(--color-divider);
}

.track-header-list .slider-value {
  background: color-mix(in srgb, var(--color-text-inverse) 50%, transparent);
}
