.timeline-header {
  flex: 1;

  position: relative;
  overflow: hidden;

  min-width: 0;
  min-height: 0;

  padding: 0 !important;
  margin: 0 !important;

  cursor: default;
}

.timeline {
  flex: 1;

  position: relative;
  overflow: auto;

  min-width: 0;
  min-height: 0;

  padding: 0 !important;
  margin: 0 !important;

  cursor: default;
}

.timeline-content {
  position: relative;

  min-width: 100%;
  min-height: 100%;

  padding: 0 !important;
  margin: 0 !important;
}

#timeline-cursor-info {
  position: absolute;
  top: 6px;
  left: 8px;

  font-size: 10px;
  line-height: 12px;

  color: var(--color-text-muted);
  font-variant-numeric: tabular-nums;
  white-space: pre-line;
}

#timeline-playhead-info {
  position: absolute;
  top: 20px;
  left: 8px;

  font-size: 10px;
  line-height: 12px;

  color: rgba(255, 77, 79, 0.5);
  font-variant-numeric: tabular-nums;
  white-space: pre-line;
}
