.timelet {
  --color-time: var(--color-text-secondary);
  --font-size: inherit;

  align-self: center;

  font-size: var(--font-size);
  line-height: 1;
  vertical-align: middle;

  white-space: nowrap;

  font-variant-numeric: tabular-nums;
}

.timelet [data-role="padding"] {
  font-weight: 500;
  color: var(--color-text-marking);
  text-shadow: 0 1px 0 var(--color-text-marking-shadow);
  user-select: none;
}

.timelet [data-role="time"] {
  font-weight: 500;
  color: var(--color-time);
  text-shadow: 0 1px 0 var(--color-text-marking-shadow);
}

.timelet [data-role="prefix"],
.timelet [data-role="suffix"] {
  color: var(--color-text-marking);
  text-shadow: 0 1px 0 var(--color-text-marking-shadow);
  user-select: none;
}

.timelet [data-role="prefix"]:not(:empty) {
  margin-right: 2px;
}

.timelet [data-role="suffix"]:not(:empty) {
  margin-left: 2px;
}
