.timelet {
  --color-time: var(--color-primary-text);

  display: inline-flex;
  align-items: center;
  align-self: center;

  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.timelet-padding {
  font-weight: 500;

  color: color-mix(in srgb, var(--color-text) 20%, transparent);
  /* text-shadow: 0 1px 0
    color-mix(in srgb, var(--color-text-inverse) 50%, transparent); */

  user-select: none;
}

.timelet-time {
  font-weight: 500;

  color: var(--color-time);
}

.timelet-prefix,
.timelet-suffix {
  color: color-mix(in srgb, var(--color-text) 20%, transparent);
  /* text-shadow: 0 1px 0
    color-mix(in srgb, var(--color-text-inverse) 50%, transparent); */

  user-select: none;
}

.timelet-prefix:not(:empty) {
  margin-right: 2px;
}

.timelet-suffix:not(:empty) {
  margin-left: 2px;
}

/* Medium */

.timelet,
.timelet.md {
  min-height: var(--component-height-md);
  height: var(--component-height-md);

  font-size: var(--font-size-md);
}

/* Small */

.timelet.sm {
  min-height: var(--component-height-sm);
  height: var(--component-height-sm);

  font-size: var(--font-size-sm);
}

/* Extra Small */

.timelet.xs {
  min-height: var(--component-height-xs);
  height: var(--component-height-xs);

  font-size: var(--font-size-xs);
}
